<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="54213Nukepayload2.N2ForkVBInteractivePreview"
    Publisher="CN=B08FCF9B-E5FD-4D44-8B58-F84FB3CC7751"
    Version="1.1.0.0" />

  <Properties>
    <DisplayName>N2Fork VB Interactive (Preview)</DisplayName>
    <PublisherDisplayName>Nukepayload2</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="VbiCore"
      Executable="vbicore\vbi.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="N2Fork VB Interactive (net8.0)"
        Description="Nukepayload2&apos;s fork of VB interactive (preview) on .NET 6.0"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="VB Interactive">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png"  BackgroundColor="transparent"/>
      </uap:VisualElements>
    </Application>
    <Application Id="VbiFw"
      Executable="vbifw\vbi.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="N2Fork VB Interactive (net48)"
        Description="Nukepayload2&apos;s fork of VB interactive (preview) on .NET Framework"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="VB Interactive">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png"  BackgroundColor="transparent"/>
      </uap:VisualElements>
    </Application>
    <Application Id="VbiChooser"
      Executable="vbicore\vbichooser.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="N2Fork VB Interactive (Script mode)"
        Description="Nukepayload2&apos;s fork of VB interactive (preview) script runtime selector"
        BackgroundColor="transparent" AppListEntry="none"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="VB Interactive">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png"  BackgroundColor="transparent"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="vbnetscript">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/vbnetscript">.vbx</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Visual Basic .NET Script File</uap:DisplayName>
            <uap:InfoTip>Visual Basic .NET Script File</uap:InfoTip>
            <uap:EditFlags AlwaysUnsafe="true"/>
            <uap:Logo>Images\File88x88Logo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
